table, tr, th, td{
    border: 1px solid black;
}
table{
    width: 400px;

}
.enlace{
    display:block;
    background: blue;
    color: white;
    text-align: center;

}
#bloque{
   /* display:inline;*/
    background: red;
    text-align: center;
}